[Container]
Image={{ __NAME___service_main_image }}
ContainerName=__NAME__-main
EnvironmentFile=./configs/__NAME__.env
Secret=__NAME___service_password,type=env,target=EXAMPLE_PASSWORD
Volume={{ service_home }}/data:/data:Z
